// Colors Partial
// Dark Text Color
$Dark-primary: #0d0d0d;
// Light Text Color
$Light-primary: #fff;
// Light Grey
$Grey-Primary: #a3a3a3;
// Headings Colors 
$Light-Heading: #fff;
$Dark-Heading: #000;
// Icons Colors 
$Light-icons: #fff;
// Layout Colors
$section-light: #fff;
$section-dark: #24242a;
$Portfolio-hover: rgba(36, 36, 42, .8);
// Sep-Colors
$Dark-sep: #000;
$Light-sep: #fff;
// Buttons colors
$light-button: #fff;
$Dark-button: #24242a;
$border-button: #fff;